
.budget-modal__content {
  display: flex;
  flex-direction: column;
}

.budget-modal__label {
  margin-bottom: 5px;
  text-align: left;
}
.budget-modal__input {
  margin-bottom: 15px;
  display: block;
}

.budget-modal__title {
  margin-bottom: 15px;
}