.expense-list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 200px;
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  border-radius: 7px;
}

.expense__item {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 3px;
  text-align: left;
}

.expense__item img:hover {
  cursor: pointer;
}
